@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*
    font-family: "Outfit", sans-serif;

    Softblue #8bacda
    cyyan #00ffff ;
    VerydarkbluemainBG:#0d192b;
    VerydarkbluecardBG:#14253d
    Verydarkblueline #2f415b
*/